.container
  .entry
    .row
      .movie_image.col-sm-12.col-md-4
        = image_tag @movie.image, class: 'img-responsive', height: "600px", width: "400px"
    
      .col-sm-12.col-md-8.content
        .title_header.row
          %h2.col-md-7= @movie.title        
          .button_torrent.col-md-4.col-md-offset-1
            = link_to "Torrent Download", download_visitors_path(@movie), class: 'btn btn-primary btn-default'
            = link_to "Back", :back, class: 'btn btn-primary btn-default'
  
        .description
          %p
            %strong
              Plot:
            = info_value(@movie.plot)

          %ul
            %li
              %strong
                IMDB Link:
              - if @movie.imdb.present?
                = link_to @movie.imdb, @movie.imdb
              - else
                None 
            %li
              %strong
                Genre: 
              - @movie.categories.each do |genre|
                = genre.name.titleize
            %li
              %strong
                Size:
              = info_value(@movie.size)
            %li
              %strong
                Quality:
              = info_value(@movie.quality)
            %li
              %strong
                Language:
              = info_value(@movie.language)

        .embed-responsive.embed-responsive-16by9
          = embed(@movie.youtube_url)





