.container-fluid
  .entry
    .row
      .movie_image.col-sm-12.col-md-4
        = image_tag @image, class: 'img-responsive'
    
      .col-sm-12.col-md-8
        %h2= @title
        
        = link_to "Torrent Download", @torrent, class: 'btn btn-primary btn-sm button_torrent'
  
        .description
          %p= @plot

          %ul
            - description(@info).each do |info|
              %li= info

        = embed(@url)
